.comment {
  width: 85.5%;
  // margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-width: 660px;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-left: 1px #ddd solid;
  
  li {
    display: flex;
    font-size: 15px;
    // margin-bottom: 10px;
    // list-style: none;
    a {
      color: black;
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
  }
  &__create {
    &__nickname {
      font-size: 15px;
    }
    &__text {
      &__new {
        display: flex;
        &__box {
          width: 85%;
          padding-left: 5px;
        }
        &__submit {
          width: 100px;
          height: 30px;
          float: right;
          margin: 10px;
          margin-bottom: 0;
          background: black;
          color: white;
          border-radius: 10px;
        }
      }
    }
  }
  &__area {
    width: 100%;
    overflow: scroll;
    &__count {
      display: flex;
      // margin-bottom: 20px;
      border-bottom: solid 0.1px #e0e0e0;
      &__count, &__more {
        margin-left: 30px;
        color: skyblue;
      }
    }
    &__container {
      &__current {
        &__box {
          margin: 0 0 0 auto;
          padding-right: 5px;
          &__avatar {
    
          }
          &__name{
            font-size: 8px;
          }
          &__text {
            display: flex;
            justify-content: space-between;
            &__date {
              margin-left: 40px;
            }
            &__destroy {
              margin-left: 50px;
            }
          }
          &__entry {
            border-bottom: solid 0.1px #e0e0e0;
            margin-bottom: 5px;
          }
        }
      }
      &__other {
        &__box {
          &__avatar {
    
          }
          &__name{
            font-size: 8px;
          }
          &__text {
            display: flex;
            justify-content: space-between;
            &__date {
              margin-left: 40px;
            }
            &__destroy {
              margin-left: 50px;
            }
          }
          &__entry {
            border-bottom: solid 0.1px #e0e0e0;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}