* {
  box-sizing: border-box;
}
@mixin image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@mixin list-btn {
  min-height: 48px;
  display: block;
  padding: 16px 26px 16px 16px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  position: relative;
  text-decoration: none;
}
@mixin list-icon {
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 16px;
  color: #ccc;
}
// body{
//   background-color: #f6f6f6;
  // min-width: 900px;
  // background:rgba(255,255,255,0.7);
  // background-image: url(https://www.canva.com/ja_jp/learn/wp-content/uploads/sites/10/2020/03/zoom-backgrounds-banner.png);
  // .blog__header{
  //   height: 56px;
  //   width: 100%;
  //   padding: 0 100px;
  //   background-color: lightgreen;
  //   color: #fff;
  //   display: flex;
  //   justify-content: space-between;
  //   position: flex;
  //   &__title{
  //     font-size: 35px;
  //     line-height: 56px;
  //     // font-family: 'Londrina Shadow', cursive;
  //     font-family: 'Montserrat Subrayada', sans-serif;
  //     &__text{
  //       text-decoration: none;
  //       color: #fff;
  //     }
  //   }
  //   &__right{
  //     line-height: 56px;
  //     a {
  //       text-decoration: none;
  //       color: #fff;
  //     }
  //     &--btn{
  //       margin-left:15px;
  //     }
  //   }
  // }
.header {
  padding: 0 60px;
  list-style: none;
  border-bottom: 1px solid #f6f6f6;
  &__item {
    max-width: 1040px;
    width: 100%;
    // min-height: 82px;
    margin: 0 auto;
    
    &__show {
      display: flex;
      justify-content: space-between;
      &__title {
        margin-right: 30px;
        border-radius: 4px;
        display: flex;
        a {
          color:black;
          text-decoration: none;
        }
        &__main {
          font-family: 'Caveat', cursive;
          font-size: 30px;
          line-height: 50px;
        }
        &__sub {
          font-family: 'Amatic SC', cursive;
          font-size: 12px;
          margin-left: 20px;
          line-height: 50px;
        }
      }
      &__lists {
        display: flex;
        font-size: 14px;
        margin-bottom: 10px;
        a{
          color: #333;
          text-decoration: none;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
        }
        a:hover {
          text-decoration:underline;
        }
        &__list {
          display: flex;
          margin-left: auto;
          width: 100%;
          
          &__edit, &__delete, &__back {
            display: block;
            font-size: 20px;
            color: #ffffff;
            padding: 0 10px;
            margin-right: 10px;
            line-height: 50px;
            
          }
        }
      }
    }
  }
}
.breadcrumbs {
  font-size: 15px;
  margin: 10px 0 20px 15px;
}
.contents{
  width: 100%;
  margin: 30px auto 0;
  background-color: #fff;
  height: 100%;
  width: 80%;
  overflow: scroll;
  
  &__item {
    width: 100%;
    padding: 20px 60px;
    background-color: #e0e0e0;
    //new
    &__title {
      h2 {
        text-align: center;
        width: 30%;
      }
    }
    &__new {
      height: 1100px;
      max-width: 1040px;
      width: 100%;
      display: flex;
      margin: 0 auto;
      &__image, &__name, &__introduction, &__size, &__brand, &__season, &__color, &__price {
        margin: 0 auto;
        background-color: white;
        border-bottom: solid 1px #f8f8f8;
        padding: 10px 40px;
        width: 910px;
        &__select {
          width: 100%;
          height: 45px;
          margin-bottom: 1%;
          padding: 10px;
          border: solid 1px #ccc;
          border-radius: 5px;
          background-color: white;
        }
      }
      &__category {
        margin: 0 auto;
        background-color: white;
        border-bottom: solid 1px #f8f8f8;
        padding: 10px 40px;
        width: 910px;
        &__select {
          width: 100%;
          height: 45px;
          margin-bottom: 1%;
          padding: 10px;
          border: solid 1px #ccc;
          border-radius: 5px;
          background-color: white;
        }
        .product_select-children select { 
          width: 100%;
          height: 45px;
          margin-bottom: 1%;
          padding: 10px;
          border: solid 1px #ccc;
          border-radius: 5px;
          background-color: white;
        }
        .product_select-grandchildren select { 
          width: 100%;
          height: 45px;
          padding: 10px;
          border: solid 1px #ccc;
          border-radius: 5px;
          background-color: white;
        }
      }
      &__actions {
        text-align: center;
        &__btn {
          background-color: #3CCACE;
          font-size: 17px;
          color: #fff;
          width: 50%;
          height: 70px;
          margin: 30px 0;
          border-radius: 5px;
          font-weight: 600;
          border: none;
        }
      }
    }

    //show
    &__show {
      height: 1000px;
      max-width: 1040px;
      width: 100%;
      display: flex;
      margin: 0 auto;
      &__left {
        display: flex;
        width: 50%;
        
        &__image {
          height: 500px; 
          width: 90%;
        }
      }
      &__right {
        width: 100%;
        padding-right: 10px;
        height: 100%;
        width: 50%;
        &__top {
          background: #fff;
          border-radius: 3px;
          border: 1px #ddd solid;
          padding: 20px 0 23px 23px;
          margin-bottom: 20px;
          &__brand, &__name {
            margin-bottom: 20px;
          }
          &__price {
            font-size: 30px;
          }
        }
        &__low {
          background: #fff;
          border-radius: 3px;
          border: 1px #ddd solid;
          padding: 20px 0 23px 23px;
          &__introduction {
            padding-bottom: 20px;
            border-bottom: 1px solid #e0e0e0;
          }
          &__category, &__size, &__season, &__color {
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
//   &__lists {
//     &__postTitle{
//       font-size: 24px;
//       font-weight: bold;
//       text-align: center;
//       padding-top: 20px;
//     }  
//     &__sublist {
//       display: flex;
//       padding-top: 20px;
//       justify-content: space-between;
//       &__postCategory {
//         font-size: 15px;
//         margin-left: 40px;
//       }
//       &__postDate{
//         font-size: 15px;
//         color: #999;
//         margin-left: 40px;
//       }
//       &__postAuthor{
//         font-size: 15px;
//         color: #999;
//         margin-left: 40px;
//       }
//       &__postManage{
//         display: flex;
//         margin-left: 50px;
//         &__edit, &__delete, &__back {
//           display: block;
//           border-radius: 5px;
//           color: #ffffff;
//           background-color: lightgreen;
//           padding: 0 10px;
//           text-decoration: none;
//           margin-right: 10px;
//         }
//       }
//     }
//     &__like {
//       padding-top: 20px;
//       margin-left: 40px;
//     }
//     &__postText{
//       margin: 20px 30px;
//       margin-left: 60px;
//     }
//   }
  
//   .post {
//     display: flex;
//     justify-content: center;
//     margin-top: 10px;
//     &__icon-back {
//       display: block;
//       width: 56px;/*幅*/
//       height: 56px;/*高さ*/
//       margin: 0 0 20px 60px;
//       background: #03a9f4;/*背景色*/
//       text-align: center;/*中央寄せ*/
//       border-radius: 50%;/*角丸く*/
//       transition: .3s;/*滑らかな動きに*/
//       box-shadow: 0 2px 2px 0 rgba(0,0,0,.12), 0 2px 2px 0 rgba(0,0,0,.24);/*影*/
//       &:hover {/*ホバー時*/
//         box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
//       }
//       & i {/*中央のアイコン*/
//         color: white;
//         line-height: 56px;/*＝幅と高さ*/
//         font-size: 18px;/*サイズ*/
//       }
//     }
//   }
// }
// .form{
//   width: 100%;
//   height: 100%;
//   // margin: 0 auto;
//   padding-top: 30px;
//   &__title{
//     display: block;
//     width: 400px;
//     height: 40px;
    
//   }
//   &__text{
//     display: block;
//     width: 100%;
//     height: 100%;
//     margin-top: 15px;
//     padding: 0;
//     padding-left: 30px;
//   }
//   .js-text-count {
//     float:right;
//     height: 50px;
//     margin-top: 15px;
//   }
//   &__btn{
//     display: block;
//     width: 30%;
//     margin: 15px auto 0;
//     margin-bottom: 40px;
//   }
// }
// .user{
//   padding: 15px 30px;
// }

