* {
  box-sizing: border-box;
}
@mixin list-btn {
  min-height: 48px;
  display: block;
  padding: 16px 26px 16px 16px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  position: relative;
  text-decoration: none;
}
@mixin list-icon {
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 16px;
  color: #ccc;
}
.contents {
  width: 100%;
  .content {
    width: 100%;
    padding: 20px 60px;
    &__mypage {
      height: 1000px;
      max-width: 1040px;
      width: 100%;
      display: flex;
      margin: 0 auto;
      background-color: white;
      &__left {
        display: flex;
        width: 25%;
        border-right: 1px solid #e0e0e0;
        &__side {
          // margin: 0 auto;
          display: flex;
          &__list {
            list-style: none;
            a {
              color: black;
              text-decoration: none;
            }
            &__menu {
              font-size: 20px;
              margin-bottom: 10px;
              border-bottom: solid 1px #e0e0e0;
              &__tag {
                width: 100%;
              }
            }
            ul {
              margin-bottom: 40px;
            }
            li {
              display: flex;
              font-size: 15px;
              margin-bottom: 10px;
              border: solid 0.1px #e0e0e0;
              margin: 1px 0;
            }
            a {
              @include list-btn;
            }
            a:hover {
              background: #f9f9f9; 
            }
            i {
              @include list-icon;
            }
            a:hover i {
              transition: all ease-out .3s;
              transform: translate(70%, 0);
              color: #111;
            }
            p {
              display: flex;
              font-size: 15px;
              margin-bottom: 10px;
              a {
                color: black;
                position: relative;
                display: inline-block;
                text-decoration: none;
              }
            }
          }
        }
      }
      &__right {
        width: 100%;
        padding-right: 10px;
        height: 100%;
        width: 75%;
        overflow: scroll;
        background-color: white;
        &__seach {
          display: flex;
          width: 100%;
          // border-bottom: solid 0.1px #e0e0e0;
          h2 {
            text-align: center;
            width: 30%;
          }
          &__form {
            display: flex;
            height: 30px;
            margin: 20px 0 10px;
            width: 70%;
            line-height: 30px;
            position: relative;
            &__input {
              display: flex;
              height: 30px;
              width: 250px;
              position: absolute;
              right: 100px;
            }
            &__btn {
              display: flex;
              height: 30px;
              width: 40px;
              margin-left: 15px;
              position: absolute;
              right: 40px;
              padding-left: 4px;
            }
          }
        }
        //閲覧履歴
        &__history {

        }
      }
    }  
  }
}